/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* my styles */

.color{
    color: hsl(0, 100%, 67%);
    color: hsl(39, 100%, 56%);
    color: hsl(166, 100%, 37%);
    color: hsl(234, 85%, 45%);
    color: hsl(252, 100%, 67%);
    color: hsl(241, 81%, 54%);
    color: hsla(256, 72%, 46%, 1);
    color: hsla(241, 72%, 46%, 0);
    color: hsl(0, 0%, 100%);
    color: hsl(221, 100%, 96%);
    color: hsl(241, 100%, 89%);
    color: hsl(224, 30%, 27%);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Hanken Grotesk", sans-serif;

}

.card{
    border-radius: 20px;
    display: flex;
    box-shadow: 10px 15px 10px hsl(221, 100%, 96%,0.5);
}

.blue-section{
    border: 1px solid blue;
    border-radius: 20px;
    padding: 30px;
    height: 450px;
    width: 280px;
    text-align: center;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%),hsl(241, 81%, 54%) );
    color: hsl(241, 100%, 89%);
}

h1{
    color: hsl(0, 0%, 100%);;
}

.no{
    border-radius: 100px;
    display: inline-block;
    width: 120px;
    height: 120px;
    padding: 20px;
    margin-bottom: 60px;
    margin-top: 50px;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.number{
    font-size: 40px;
    color: hsl(0, 0%, 100%);
    font-weight: 800;
}

.blue-section p{
    margin-top: px;
}

.first{
    margin-top: 30px;
}


.summary{
    padding: 30px;
    height: 450px;
    width: 280px;
}

h2{
    font-size: 1.1rem;
}

h5{
    display: inline;
}

.reaction{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: hsla(0, 100%, 67%, 0.1);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    margin-top: 15px;
}

.reaction-1{
    color: hsl(0, 100%, 67%);
}

.memory{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: hsl(39, 100%, 56%,0.1);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
}

.memory-1{
    display: flex;
    gap: 7px;
    color: hsl(39, 100%, 56%);
}


.verbal{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: hsl(221, 100%, 96%);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;

}

.verbal-1{
    display: flex;
    gap: 7px;
    color: hsl(166, 100%, 37%);
}

.visual{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: hsl(241, 100%, 89%);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
}

.visual-1{
    display: flex;
    gap: 7px;
    color: hsl(234, 85%, 45%);
}


.reaction-1{
    display: flex;
    gap : 7px;
}

.continue-btn{
    border-radius: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
}